#Experience {
  background-color: var(--background-color);
  height: 100vh;
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}
.outerDiv{
  width: 90vw;
  height: 90vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  align-items:center;
  flex-direction: row;
}






@media screen and (max-width: 800px){




}

