#Social {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.62);
  position: absolute;
  z-index: 99;
  top: 0;
}
.inside {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
  background-color: white;
  width: 400px;
  height: 500px;
  flex-direction: column;
}
.exit {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 2vw;
  cursor: pointer;
}
.exit:hover {
  animation: rotation 2s infinite linear;
}
.Heading {
  position: absolute;
  top: 15px;
  font-size: 30px;
  font-weight: 700;
  color: #fb4748;
}
.Link {
  cursor: pointer;
  width: 3.5vw;
}
.What {
  margin-top: 10px;
  cursor: pointer;
  width: 4vw;
}
@media screen and (max-width: 720px) {
  .Heading {
    font-size: 20px;
  }
  .inside {
    width: 200px;
    height: 250px;
  }
  .Link {
    width: 6vw;
  }
  .What {
    width: 6vw;
  }
}
