#introDiv {
  width: 100vw;
  height: 90vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}
.introText {
  margin-top: 150px;
  color: white;
  width: 65vw;
  text-align: center;
  font-size: 40px;
  font-weight: 600  ;
}
@media screen and (max-width: 630px) {
  .introText {
    margin-top: 180px;
    font-size: 20px;
  }
}
