.Footer{
    width: 100vw;
    height: 15vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content{
    width : 2vw ;
    border-radius : 25px;
}
.SocialImage{
    width: 250px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

}
.Thoughts{
    cursor: pointer;
    color: var(--txt-color);
    width: 200px;
    font-size: 13px;
    font-weight: 600;
}
.Thoughts:hover{
    color: white;
}
.upImage{
    width: 5vw;
    border-radius: 25px;
}


@media screen and (max-width: 850px){
  .Thoughts{
      width: 60px;
      font-size: 8px;
  }
    .SocialImage{
        width: 30vw;
    }
    .content{
        width: 8vw;
    }
    .upImage{
        width: 10vw;
        border-radius: 25px;
    }
}